/**************************/
/* HEADER */
/**************************/
.header {
  max-width: inherit;
  height: 100vh;
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  background-image: linear-gradient(
    to top left,
    rgb(17, 33, 32),
    rgb(66, 142, 95)
  );
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo:link,
.header-logo:visited {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
}

.header-logo:active,
.header-logo:hover {
  color: #cfd3d2;
}

.header-inner {
  display: flex;
  flex-direction: column;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  position: relative;
  color: #fff;
  text-decoration: none;
  padding-bottom: 0.4rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cfd3d2;
}

.main-nav-link:hover::before,
.main-nav-link:visited::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.4rem;
  width: 3.5rem;
  background-color: #cfd3d2;
  border-radius: 100px;
}

.header-btns {
  display: flex;
  justify-content: space-between;
  gap: 2.4rem;
}

.btn--empty {
  color: #fff;
}

.btn--full {
  color: #fff;
}
